@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a sample app which connects to a Redis instance and updates a counter.</p>
</div>

<div>
    <h3>Hello @Model.Name!</h3>
    <b>Hostname:</b> @Model.HostName<br/>
    <b>Visits:</b> @Model.Visits
</div>